.dashboard{
    width: 100%;
   
}

.titulo{
    font-size: 25pt;
    color: rgba(58, 53, 65, 0.87);
    text-align: center;
    border-bottom:1px solid gray ;
    font-family: Inter, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.quadro{    
    box-shadow: 1px 0px 6px 3px rgb(167 164 164);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    margin: 1em;
    padding: 0.5em;

}
.quadro ul{
    list-style: none;
    
}

.titulo_quadro{
    margin: 0px 0px 0.5rem;
    font-family: Inter, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.6;
    letter-spacing: 0.15px;
    color: rgba(58, 53, 65, 0.87);
}

.card_name{
    color:  rgba(44, 35, 58, 0.87);
}